{:name "ui-aggrid"
 :clj-require []
 :cljs-namespace [pinkgorilla.aggrid.aggrid]
 :theme {:available  {:aggrid {true ["ag-grid-community/dist/styles/ag-grid.css"]
                               "blue" ["ag-grid-community/dist/styles/ag-theme-blue.css"]
                               "fresh" ["ag-grid-community/dist/styles/ag-theme-fresh.css"]
                               "bootstrap" ["ag-grid-community/dist/styles/ag-theme-bootstrap.css"]
                               "balham" ["ag-grid-community/dist/styles/ag-theme-balham.css"]
                               "alpine-dark" ["ag-grid-community/dist/styles/ag-theme-alpine-dark.css"]
                               "dark" ["ag-grid-community/dist/styles/ag-theme-dark.css"]
                               "alpine" ["ag-grid-community/dist/styles/ag-theme-alpine.css"]
                               "balham-dark" ["ag-grid-community/dist/styles/ag-theme-balham-dark.css"]
                               "material" ["ag-grid-community/dist/styles/ag-theme-material.css"]}}
         :current {:aggrid  "balham"}}

 :pinkie {:p/aggrid pinkgorilla.aggrid.aggrid/aggrid-boxed}
 :cljs-bindings {'aggrid pinkgorilla.aggrid.aggrid/aggrid-boxed}
 :cljs-ns-bindings {}
 :lazy true
 :snippets [; aggrid
            {:type :pinkie
             :category :aggrid
             :id :aggrid-small
             :filename "snippets/aggrid/sm.edn"}
            {:type :pinkie
             :category :aggrid
             :id :aggrid-custom
             :filename "snippets/aggrid/custom.edn"}
            {:type :goldly-clj
             :category :aggrid
             :id :aggrid-large
             :filename "snippets/aggrid/lg.clj"}
            {:type :goldly-clj
             :category :aggrid
             :id :aggrid-pagination
             :filename "snippets/aggrid/pagination.clj"}]}